* {
  box-sizing: border-box;
  
}


body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

nav {
  height: 70px;
  display: flex;
  /* background-color: blue; */
  padding: 20px 35px;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
}

.bold {
  font-weight: bold;
}

.gray {
  color: #918e9b;
}

.nav--logo{
  max-width: 100px;
}



section {
  padding: 20px;
}

.hero {
  display: flex;
  flex-direction:column;
}

.hero--photo_frame{
  max-width: 400px;
  align-self: center;
}

.hero--header {
  margin-bottom: 16px;
}

.hero--text {
  margin-top: 0px;
}

.card {
  width: 175px;
  font-size: 12px;
}

.card--photo {
  width: 100%;
  border-radius: 10px;
}

.card--star {
  height: 15px;
  
}

.card--stats {
  display: flex;
  align-items: center;
}